.dask{
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}
.Box{
    border: 1px solid #cccccc;
    margin-top: 5px;
}
.Box p{
    display: inline-block;
}
.Box p:first-child{
    font-size: 16px;
    margin-right: 10px;
    font-weight: bold;
    margin-left: 10px;
}
.Box p:last-child{
    float: right;
    margin-right: 10px;
}