input{
    width: 45%;
    height: 35px;
    margin-right: 3px;
    margin-top: 10px;
}
button {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid #555555;
    padding: 10px 25px;
}

button:hover {
    background-color: #555555;
    color: white;
}